@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Raleway:ital,wght@1,100&family=Tektur:wght@400;500&display=swap');

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.hero__text-content {
  position: absolute;
  right: 35%;
  color: white;
  font-size: 4rem;
  padding: 15px;
}

h1 {
  font-family: 'Tektur', cursive;
}
p {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}




.hero__menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  font-size: 12px;
  color: black;
  text-align: center;
}

.menu-open {
  left: 0;
  z-index: 0;
}


.close-button {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 2rem;
  padding: 5px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: black
}